/*
Generel
*/

* {
    margin: 0;
}

h1 {
    font-family: 'Kaushan Script', cursive;
    padding-top: 17px;
}

body {
    padding-top: 80px;
    font-family: 'Muli', sans-serif;
}


.body_index {
    padding-top: 100px;
}

img {
    width: 100%;

}

a {
    text-decoration: none;
    color: black;
    text-decoration: underline;
}

p {
    font-family: 'Muli', sans-serif;
}

/* Nyheder knapper */

.vin_knap,
.slagter_knap {
    border: none;
    background-color: aliceblue;
    float: center;
    margin: 2%;
    border-radius: 9px;
    width: 20vw;
    height: 3vh;
}






/* restaurant billeder */

.rest_container img {
    width: 100%;
}

.rest_container img {
    margin: 15px 15px 15px 15px;
    padding: 5vw;
}

.rest_container {
    padding: 10vw;
    margin: 7vw;
}

.rest_container h1 {

    color: black;
    z-index: 3;
    padding: 20px;
}

/*
Footer
*/

footer {
    background-color: #C2CAD0;
    display: grid;
    margin-top: 5vh;
    padding: 2vw 0 2vw 2vw;
    font-family: 'Muli', sans-serif;
}

footer p {
    font-size: 0.8em;
    padding-top: 2vw;
    font-family: 'Muli', sans-serif;
}

footer img {
    width: 100px;
}



/*
Header
*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
}

header img {
    width: 170px;
    padding-top: 10px;


}

.logo img {
    bottom: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    bottom: 20px;
    position: relative;
    margin-left: 10px;
}

#burger {
    width: 60px;
    height: 60px;

    position: absolute;
    left: 250px;

    padding: 0 0;

    border-bottom-right-radius: 15px;

    cursor: pointer;

    transition: 0.5s;
    top: -80px;
}

#burger p {
    position: absolute;

    margin: 15px 20px;

    font-size: 1.5em;

    font-weight: 700;

    opacity: 0;

    top: 0;

    transition: 0.5s;
}

#burger div:nth-child(1),
#burger div:nth-child(2),
#burger div:nth-child(3) {
    width: 44px;
    height: 8px;

    background-color: #000;

    margin: 7px 8px;

    transition: 0.5s;
}

/* margin-top: 11; fordi der lægges 4 til 7 (den værdi margin-top var på før) */

#burger div:first-child {
    margin-top: 11px;
}

header nav.open #burger {
    width: 100px;
    left: 0px;
}

header nav.open #burger p {
    opacity: 1;
    transform: translateX(20px)
}

header nav.open #burger div:nth-child(1) {
    transform: rotate(-40deg) scale(0.6) translate(-20px, -0px);
}

header nav.open #burger div:nth-child(2) {
    transform: translateX(60px) scale(0.6);
    opacity: 0;
}

header nav.open #burger div:nth-child(3) {
    transform: rotate(40deg) scale(0.6) translate(-20px, 0px);
}

#header_bar {
    background-color: #C2CAD0;
    width: 100%;
    height: 100px;
    z-index: 110;
    display: flex;
    justify-content: center;
}

header nav {
    position: absolute;
    background-color: #C2CAD0;
    left: -250px;
    top: 0;

    margin-top: 100px;

    width: 250px;
    height: 100vh;
    z-index: 100;

    transition: 0.5s;
}

header nav.open {
    left: 0;
}

header nav button {
    width: 180px;
    height: 50px;
    margin: 7px 5px;
    font-size: 1.5em;
    border: none;
    background: none;
    text-align: left;
}

header nav button:hover {
    color: darkgrey;
    cursor: pointer;
    text-decoration: underline;
}

nav a img {
    width: 45px;
    height: 45px;
    margin-top: 270px;
}

.nyhed_knap {
    background: none;
    margin-left: 30px;
    border: solid;
}

.guides_knap {
    margin-top: 35px;
    border: solid;
    background: none;
}

.tilmeld_knap {
    margin-left: 90px;
    display: inline-block;
}

.tilmeld_knap button {
    border: none;
    background: none;
}

.overskrift {
    position: relative;
    color: white;
    top: 30px;
    margin-left: 10px;
    font-family: 'Muli', sans-serif;
    background-color: #b5bbbf;
    margin-right: 150px;
    text-decoration-color: aqua;



}

a {
    text-decoration: none;

}

.nyhed_knap,
.guides_knap {
    background-color: aliceblue;
}

.tilmeld_knap button {
    border-radius: black 20px;
    background-color: #AFD275;

}

.nyhed {
    padding: 20px;
    position: relative;
    font-family: 'Muli', sans-serif;
}

p {
    font-family: 'Muli', sans-serif;
}

#map {
    width: 100;
    height: 50vw;
    background: burlywood;
    align-self: center;

    padding: 20px;
}

.om {

    padding: 20px;
    position: relative;
}

#tilmeld {
    padding: 20px;

}

#tilmeld img {
    width: 50%;
}


/* Restauranter */

#restauranter article {
    position: relative;
}

#restauranter article h2 {
    position: absolute;
    bottom: 40px;
    left: 140px;
    color: #eee;
    z-index: 1;
    display: none;
}

#restauranter article .rest_img {
    display: block;
}


#restauranter article .rest_logo {
    position: absolute;
    width: 100px;
    bottom: 35px;
    left: 20px;
}

#restauranter article a {}

#restauranter article .fade {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

/* Restaurant */

#info_box {
    margin: 10px;
    padding: 10px;
    background-color: #99e0db;

}

#info_box nav {
    background-color: #ffffff;

}

#info_box nav button {
    background-color: transparent;
    border: none;
    color: #444;
    font-weight: 700;
    padding: 5px;
}

#info {
    background-color: beige;

    padding: 15px;
    min-height: 500px;
}



/** index /**/

main button {
    border: none;
    background: #AFD275;
    border-radius: 9px;
    width: 50vw;
    height: 3vh;
    margin: 0vw 0 1vw 25%;
    cursor: pointer;

}

main button:hover {
    background-color: #AFD995;
}

.kasse {
    background-color: #C2B9B0;
    padding: 15px;
    padding-top: 15px;
    margin-top: -4px;
    position: relative;
}


.forside_tekst {
    margin: 27px;
}


/* Om Food8*/

.col input,
.btn {
    width: 100%;
    border: none;
    border-radius: 4px;
    margin: 7px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 30px;
    text-decoration: none;

}

input:hover,
.btn:hover {
    opacity: 1;
}



input[type=submit] {
    background-color: #AFD275;
    color: white;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #7E685A;
}

.col a {
    font-size: 0.7em;
}

.col {
    width: 50%;
    margin: auto;
    padding: 3vw 3vw 3vw 3vw;
    background-color: #C2B9B0;
}



/ @media screen and (max-width: 650px) {
    .col {
        width: 100%;
        margin-top: 0;
    }

}


.button {
    position: absolute;
    top: 35%;
    left: 35%;
    font-size: 1em;
    padding: 5px;
    color: white;
    background-color: #AFD275;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    font-size: 0.8em;
}

.button:hover {
    background: #AFD299;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 150px auto;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    width: 42%;
    position: relative;
    transition: all 5s ease-in-out;
}


.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    padding-top: 2vw;
    font-size: 0.8em;
}

.popup h2 {
    font-size: 1em;
}

@media screen and (max-width: 700px) {
    .popup {
        width: 70%;
    }
}
