/*
Generel
*/

* {
    font-family: sans-serif;
    margin: 0;
}

body {
    padding-top: 120px;
    font-family: 'HK Grotesk'
}

/* Nyheder billeder */

.grid_container {
    display: grid;
}

.img_container {
    position: relative;
    margin: 7vw;
}

.img_container:first-child {
    padding-top: 5vw;
}

.img_container img {
    width: 100%;
}


.img_container p {
    position: absolute;
    color: white;
    z-index: 3;
    bottom: 1em;
    left: 10px;
}

.img_container h3 {
    position: absolute;
    color: white;
    z-index: 3;
    bottom: 2em;
    left: 10px;
}


/* restaurant billeder */

.rest_container img {
    width: 100%;
}

.rest_container img {
    margin: 15px 15px 15px 15px;
    padding: 5vw;
}


.rest_container h1 {

    color: black;
    z-index: 3;
    bottom: 1em;
    right: 20px;
}

/*
Footer
*/

footer {
    background-color: beige;
    display: grid;
    padding-left: 20px;
    padding-bottom: 20px;
}

footer p {
    padding-top: 2.5vw;
    font-size: 0.8em;
}

/*
Header
*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
}

header img {
    height: 80px;
    margin: 10px;

}

#burger {
    width: 60px;
    height: 60px;

    position: absolute;
    left: 250px;

    padding: 0 0;

    border-bottom-right-radius: 15px;

    cursor: pointer;

    transition: 0.5s;
    top: -80px;
}

#burger p {
    position: absolute;

    margin: 15px 20px;

    font-size: 1.5em;

    font-weight: 700;

    opacity: 0;

    top: 0;

    transition: 0.5s;
}

#burger div:nth-child(1),
#burger div:nth-child(2),
#burger div:nth-child(3) {
    width: 44px;
    height: 8px;

    background-color: #000;

    margin: 7px 8px;

    transition: 0.5s;
}

/* margin-top: 11; fordi der lægges 4 til 7 (den værdi margin-top var på før) */

#burger div:first-child {
    margin-top: 11px;
}

header nav.open #burger {
    width: 100px;
}

header nav.open #burger p {
    opacity: 1;
    transform: translateX(20px)
}

header nav.open #burger div:nth-child(1) {
    transform: rotate(-40deg) scale(0.6) translate(-20px, -0px);
}

header nav.open #burger div:nth-child(2) {
    transform: translateX(60px) scale(0.6);
    opacity: 0;
}

header nav.open #burger div:nth-child(3) {
    transform: rotate(40deg) scale(0.6) translate(-20px, 0px);
}

#header_bar {
    background-color: beige;
    width: 100%;
    height: 100px;
    z-index: 110;
    display: flex;
    justify-content: center;
}

header nav {
    position: absolute;
    background-color: beige;
    left: -250px;
    top: 0;

    margin-top: 100px;

    width: 250px;
    height: 100vh;
    z-index: 100;

    transition: 0.5s;
}

header nav.open {
    left: 0;
}

header nav button {
    width: 180px;
    height: 50px;
    margin: 7px 5px;
    font-size: 1.5em;
    border: none;
    background: none;
    text-align: left;
}

header nav button:hover {
    color: darkgrey;
    cursor: pointer;
    text-decoration: underline;
}

nav a img {
    width: 45px;
    height: 45px;
    margin-top: 270px;
}
